<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
 

       <title>NAGOYAMESHI | 予約確認</title>	
   </head>
   <body>
        <div class="nagoyameshi-wrapper">
			<div th:replace="~{fragment :: header}"></div>
			
			
			<main>
			    <div class="container pt-4 pb-5 nagoyameshi-container">
			        <div class="row justify-content-center">
			            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
			                <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			                    <ol class="breadcrumb mb-0">
			                        <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
			                        <li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
			                        <li class="breadcrumb-item"><a th:href="@{/shops/__${reservationDTO.shopId}__}">店舗詳細</a></li>
			                        <li class="breadcrumb-item active" aria-current="page">予約内容確認</li>
			                    </ol>
			                </nav>

			                <h1 class="mb-4 text-center">予約内容確認</h1>

			                <div th:object="${reservationDTO}">
			                    <div class="container mb-4">
			                        <div class="row pb-2 mb-2 border-bottom">
			                            <div class="col-6">
			                                <span class="fw-bold">予約日</span>
			                            </div>

			                            <div class="col">
			                                <span th:text="*{reservationDate}"></span>
			                            </div>
			                        </div>
			                    </div>

			                    <div class="container mb-4">
			                        <div class="row pb-2 mb-2 border-bottom">
			                            <div class="col-6">
			                                <span class="fw-bold">予約時間</span>
			                            </div>

			                            <div class="col">
			                                <span th:text="*{reservationTime}"></span>
			                            </div>
			                        </div>
			                    </div>

			                    <div class="container mb-4">
			                        <div class="row pb-2 mb-2 border-bottom">
			                            <div class="col-6">
			                                <span class="fw-bold">予約人数</span>
			                            </div>

			                            <div class="col">
			                                <span th:text="*{numberOfPeople + '名'}"></span>
			                            </div>
			                        </div>
			                    </div>

			                </div>

			                <form method="post" th:action="@{/reservations/create}" class="d-flex justify-content-center">
			                    <button type="submit" class="btn shadow-sm w-100 nagoyameshi-btn">確定する</button>
			                </form>
			            </div>
			        </div>
			    </div>
			</main>
					
					
					
					
           <div th:replace="~{fragment :: footer}"></div>
       </div>

       <div th:replace="~{fragment :: scripts}"></div>
 </body>
</html>