<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		<div th:replace="~{fragment :: styles}"></div>
		<title>NAGOYAMESHI | 会社情報編集</title>	
	</head>
      <body>
           <div class="nagoyameshi-wrapper">
   			<div th:replace="~{fragment :: header}"></div>
   			
   			<main>
	              <div class="container pt-4 pb-5 nagoyameshi-container">
	                  <div class="row justify-content-center">
	                      <div class="col-xxl-9 col-xl-10 col-lg-11">
	                          
							  <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							      <ol class="breadcrumb mb-0">
							          <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							          <li class="breadcrumb-item"><a th:href="@{/company}">会社概要</a></li>
									  <li class="breadcrumb-item active" aria-current="page">会社概要編集</li>
							      </ol>
							  </nav>
							  
      <h1 class="mb-4 text-center">会社概要編集</h1>  

	  <form th:action="@{/company/edit}" th:object="${company}" method="post">
	      <div>
	          <label>会社名</label>
	          <input type="text" th:field="*{name}" />
	      </div>
	      <div>
	          <label>代表者</label>
	          <input type="text" th:field="*{representative}" />
	      </div>
	      <div>
	          <label>設立日</label>
	          <input type="text" th:field="*{establishedDate}" />
	      </div>
	      <div>
	          <label>資本金</label>
	          <input type="text" th:field="*{capital}" />
	      </div>
	      <div>
	          <label>所在地</label>
	          <input type="text" th:field="*{address}" />
	      </div>
	      <div>
	          <label>電話番号</label>
	          <input type="text" th:field="*{phoneNumber}" />
	      </div>
	      <div>
	          <label>メール</label>
	          <input type="email" th:field="*{email}" />
	      </div>
	      <div>
	          <label>事業内容</label>
	          <textarea th:field="*{description}"></textarea>
	      </div>
	      <button type="submit">更新</button>
	  </form>

	  <a th:href="@{/company}">← 戻る</a>
        </main>
	   
			<div th:replace="~{fragment :: footer}"></div>
		</div>
			<div th:replace="~{fragment :: scripts}"></div>
   </body>
</html>
